<!DOCTYPE html>
<html>
  <head>
    <title>Speech Recognition App</title>
    <link rel="stylesheet" href="/static/getstarted.css">

  </head>
  <body>
    <h1>Speech Recognition App</h1>
    <form method="POST" action="/index">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <br>
      <label for="phone_number">Phone Number:</label>
      <input type="tel" name="phone_number" id="phone_number" required>
      <br>
      <input type="submit" value="Get Started">
    </form>
  </body>
</html>
